.background {
    padding: 50px;
    height: 70%;
    background-color: rgb(216, 164, 216);
}

.dogImage {
    top: -5px;
    left: -5px;
    position: absolute;
    height: 325px;
    width: 155px;
    background: url(../../resources/hotdog.png);
    background-position: center;
    background-size: cover;
}

.gameWrapper {
    position: relative;
    height: 325px;
    width: 155px;
    border-radius: 25px;
    background: cornsilk;
    border: 5px solid rgb(231, 222, 185);
}

.plate {
    margin: 0 auto;
    height: 345px;
    padding: 10px;
    width: 175px;
    border-radius: 25px;
    background: rgb(253, 249, 231);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
}