.upgradeBody {
    position: relative;
    z-index: 0;
    background: #FF624D;
    height: 100%;
}

.upgradeHeader {
    text-align: center;
    display: none;
    position:absolute;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    background: #FFDD00;
    padding: 5px;
    top: 10px;
    right: calc(50% - 65px);
}

.dataStyle {
    display: grid;
    gap: 8px;
    padding: 25px 15px 200px;
    margin: 0 auto;
    width: min-content;
}

@media only screen and (min-width: 700px) {
    .dataStyle {
        grid-template-columns: 1fr 1fr;
        padding: 45px 15px 200px;
    }
}

@media only screen and (min-width: 1000px) {
    .dataStyle {
        grid-template-columns: 1fr 1fr 1fr;
    }
}




/* Weird fix for final lines spacing that doesn't work right. */
/* .dataStyle::after {
    content: "";
    flex: auto;
  } */