.upgradeHeader {
    text-align: center;
}

.dataStyle {
    background:white;
    display: flex;
    flex-flow: row wrap;
    padding: 25px 25px 200px;
    background: url(../../resources/hero-upgrade.png);
}