.hotdog {
    display: flex;
    flex-direction: column;
   align-items: center;
   margin: 0;
   padding:0;
   
}

.top, .bottom, .middle {
    width: 150px;
    border: none;
}


.top {
    background: url(../resources/top.svg);
    background-size: cover;
    height:75px;
}

.middle {
  background: url(../resources/middle.svg);
  background-size: cover;
  height: 7px;
}

.bottom {
    background: url(../resources/bottom.svg);
    background-size: cover;
    height:75px;
    
}

.top:focus, .bottom:focus {
    outline: none;
} 