.rootStyle {
    
}

.wrapper {
    width:100%;
    margin: 0 auto;
}

.bg {
    background: url('../../resources/bg.png');
    background-size: 55px;
}

@media only screen and (min-width: 700px) {
    .wrapper {
        width: 80%;
    }
}