.infoBody {
    display: block;
    height: 125px;
    width: 100%;
    background: #333;
    position: sticky;
    color: white;
    bottom: 0px;
}


.dogCount {
    grid-area: header;
    padding: 10px;
    font-size: 2rem;
}

.infoWrap {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    height:125px;
    margin: 0 auto;
    width: 80%;
    row-gap: 5px;
    column-gap: 5px;
    padding-bottom: 10px;
    grid-template-areas: "header header";
}

