/* https://www.alamy.com/stock-photo-homemade-chicago-style-hot-dog-with-mustard-relish-tomato-and-onion-83867811.html?pv=1&stamp=2&imageid=1EC2A9A9-0FE4-4E87-9EB3-EA0C0138203D&p=144156&n=0&orientation=0&pn=1&searchtype=0&IsFromSearch=1&srch=foo%3dbar%26st%3d0%26pn%3d1%26ps%3d100%26sortby%3d2%26resultview%3dsortbyPopular%26npgs%3d0%26qt%3dchicago%2520hot%2520dog%26qt_raw%3dchicago%2520hot%2520dog%26lic%3d3%26mr%3d0%26pr%3d0%26ot%3d0%26creative%3d%26ag%3d0%26hc%3d0%26pc%3d%26blackwhite%3d%26cutout%3d%26tbar%3d1%26et%3d0x000000000000000000000%26vp%3d0%26loc%3d0%26imgt%3d0%26dtfr%3d%26dtto%3d%26size%3d0xFF%26archive%3d1%26groupid%3d%26pseudoid%3d%26a%3d%26cdid%3d%26cdsrt%3d%26name%3d%26qn%3d%26apalib%3d%26apalic%3d%26lightbox%3d%26gname%3d%26gtype%3d%26xstx%3d0%26simid%3d%26saveQry%3d%26editorial%3d1%26nu%3d%26t%3d%26edoptin%3d%26customgeoip%3d%26cap%3d1%26cbstore%3d1%26vd%3d0%26lb%3d%26fi%3d2%26edrf%3d%26ispremium%3d1%26flip%3d0%26pl%3d */

.title {
  top: 25px;
  z-index: 20;
  left: 25px;
  position: absolute;
  font-weight: medium;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 2.25rem;
  font-family: 'Bebas Neue', cursive;
}

.getStarted {
  background: #0065AA;
  color: white;
  padding: 8px 10px;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
}

.getStarted::after {
  content: '';
  position:absolute;
  top:0;
  width: 0;
  height: 0;
  background: transparent;
  border-top: 16px solid #0065AA;
  border-bottom: 15px solid #0065AA;
  border-left: 10px solid #0065AA;
  border-right: 10px solid transparent;
}

.flexHolder {
  margin: 0px;
  border: 2px solid white;
  position: relative;
  display: flex;
  height: 250px;
  justify-content: space-between;
  flex-direction: column;
}

.cta {
  padding: 125px 35px;
}

.dogButton {
  background: rgb(236, 128, 128);
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 7px;
  border-radius: 15px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.336);
}

.dogButton:hover {
  background: yellow
}

@media only screen and (min-width: 700px) {
  .title {
    font-size: 3rem;
  }

  .flexHolder {
    margin: 50px;
    background: #FFDD00;
  }

  .background {
    background: #FFDD00;
  }

  .cta {
    padding: 125px 55px;
  }
  
}

@media only screen and (min-width: 1000px) {

}