.menuParent {
  position: relative;
}

.logoStyle {
  background: url("../../resources/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 5px black;
  display: none;
  left: 25px;
  top: 5px;
  position: absolute;
  height: 160px;
  width: 160px;
  z-index: 100;
}

.menuBar, .grayBar {
  display: flex;
  width: 100%;
}

.menuBar {
  height: 170px;
  padding: 25px 5px 5px;
  background: #FFDD00;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.menuButton {
  color: #0065AA;
  background:none;
  padding: 3px 50px 0;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  font-size: 2rem;
}

.menuButton:hover, .activeButton {
  background: #FF624D;
  color: white;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.grayBar {
  display: none;
  justify-content: flex-end;
  height: 45px;
  padding-right: 5px;
  background:#333;
}

.cart {
  margin: auto 10px;
  width: 30px;
  height: 30px;
  background: url(../../resources/shopping_cart.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.cart:hover {
  filter: invert(57%) sepia(68%) saturate(3146%) hue-rotate(335deg) brightness(100%) contrast(102%);}

.grayButton, .darker {
  font-family: "monospace", sans-serif;
  color: rgb(236, 236, 236);
  background: #333;
  width: 100px;
  border: none;
  padding: 0 25px;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
}

.darker{
 background: #222;
}

.grayButton:hover, .darker:hover {
  color:#FF624D;
}

@media only screen and (min-width: 700px) {
  .menuBar {
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    padding: 0 50px 0 250px;
  }

  .menuButton {
    padding: 3px 30px 0;
  }

  .logoStyle {
    display:block;
  }

  .grayBar {
    display: flex;
  }
}

@media only screen and (min-width: 1000px) {

}

