.burgerBar {
    display: block;
    position: relative;
    width: 100%;
    background: #333;
    height: 50px;
}

.mobileLogo {
    background: url(../../resources/logo_mobile.png);
    z-index: 50;
    width:250px;
    top: 10px;
    left: 15px;
    height: 50px;
}

.on {
    background: url('../../resources/ham-close.png');
}

.off {
    background: url('../../resources/ham-open.png');
}

.hamburger {
    z-index: 50;
    width:50px;
    top: 10px;
    right: 15px;
    height: 50px;
}

.hamburger, .mobileLogo {
    position: absolute;
    background-size: cover;  
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.404);
} 



@media only screen and (min-width: 700px) {
    .burgerBar {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {

}