.loginBody {
    text-align: center;
    padding:10px;
    background: linear-gradient(90deg, rgba(0,21,40,.95) 0%, rgba(0,212,255,0) 75%), 
    url(../../resources/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* IE */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/main_bg_2.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/main_bg_2.jpg', sizingMethod='scale')";
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm input {
    margin-bottom: 5px;
}

.loginForm button {
    text-transform: uppercase;
}

.loginButton {
    margin-top: 20px;
    background: #333;
    padding: 5px;
    color: white;
}

.loginButton:hover {
    background: #555;
}